body {
    background: linear-gradient(to right, #F857A6, #FF5858);
    font-family: "Open Sans", sans-serif;
}

.form-container {
    margin: 0 auto;
    width: 40%;
    background-color: #EEE;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

h1{
    font-weight:700;
    margin-top:50px;
    margin-left:50px;
}

p{
    margin-left:50px;
}

.inputCont{
    display:flex;
    justify-content: center;
    flex-direction:column;
}

input, button {
    width:80%;
    height:40px;
    font-size:18px;
    margin:20px auto 20px auto;
    border-radius:5px;
}

input{
    padding-left:15px;
}

.form-container ol li {
    font-size: 18px;
    margin-left:50px;
}

i {
    z-index: 10;
    float:right;
    margin-right:50px;
}

button {
    background-color: #FF69B4;
    color: #EEE;
    opacity: 0.5;
    text-align: center; 
}


